<%= render :partial => 'projects/projectlist' %>

<h2>Tasks</h2>

<% @project.tasks.each do |c| %>
<% if  c.id.to_s == params[:id] %>
  
  <% form_for([@project, c]) do |f| %>
  <%= f.error_messages %>

  <div id="effect" class="ui-widget-content ui-corner-all"> 
		<h3 class="ui-widget-header ui-corner-all"><%= f.text_field :title %></h3> 
		<p><%= f.text_area :description %></p> 
    <p><%= f.select(:priority, options_for_select([['High', 'High'], ['Medium', 'Medium'], ['Low', 'Low']])) %>
    <p>
    <%= f.submit "Update" %>
  </p>
	</div>
  
<% end %>

<% else %>

<div id="effect" class="ui-widget-content ui-corner-all <%= c.priority %>"> 
		<h3 class="ui-widget-header ui-corner-all"><%=h c.title %></h3> 
		<p><%=h c.description %></p> 
    <p><%= link_to 'Edit', edit_project_task_url(@project,c) %>|
    <%= link_to ('Delete', {:controller => 'task', :action => 'destroy', :id => c},
      :confirm => "Are you sure you want to delete this task?",
      :method => :delete)
      %></p>
	</div>
  
<% end %>
<% end %>






<%= link_to 'Show', project_task_path(@project, @task) %> |
<%= link_to 'Back', project_tasks_path(@project) %>