<% content_for :sidebar do %>
<h2>Projects</h2>

<div class="accordion"> 
<% @projects.each do |project| %>
  <h3><%= link_to project.title, project_path(project) %></h3> 
	<div>
    <p><%=h project.description %></p>
    <p>
    <%= link_to 'Edit', edit_project_path(project) %>
    <%= link_to 'Delete', project, :confirm => 'Are you sure?', :method => :delete %>
		</p> 
	</div> 
<% end %>
</div> 

<br />

<%= link_to 'New project', new_project_path %>
<% end %>